#MenuContainer {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #6A00FF;
    padding: 3vh 3vw 3vh 4vw;
    border-top-left-radius: 15px;
    justify-content: center;
    align-items: center;

}

#MenuContainer a {
    background-color:#1A1A22;
    padding: 10px;
    color:white;
    text-decoration: none;
    font-size: 2vw;
    border-radius: 10px;
}